* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 10px; 
}

.inputContainer label {
  margin-right: 5px 
}

.title {
  text-align: center;
}

#layout {
  margin: 10px;
}

.floor {
  height: 100px;
  border: 1px solid #ddd;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.lift {
  width: 80px;
  height: 100px;
  background-color: #3498db;
  color: #fff;
  transition: top 2s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50px
}


.door {
  position: absolute;
  height: 100%;
  width: 50%;
  border: 1px solid #111;
  background-color: rgb(142, 179, 247);
}

.leftDoor {
  left: 0;
}

.rightDoor {
  right: 0;
}

.titleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Lift doors animation */
.openDoor {
  animation: openDoorAnimation 0.5s forwards;
}

.closeDoor {
  animation: closeDoorAnimation 0.5s forwards;
}

@keyframes openDoorAnimation {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@keyframes closeDoorAnimation {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

/* CSS for responsiveness */

@media screen and (max-width: 768px) {
  .inputContainer {
    flex-direction: column;
    gap: 0;
  }
}







